# Ground acceleration files
*.g3
*.AT2

# Excel sheets
*.xlsx

# R history
*.Rhistory

# python cache
__pycache__/

# outputs
outputs/
groundMotions/
validation/outputs/
validation/sessionOut/
validation/__pycache__/

# databases
*beamShapes.csv
*colShapes.csv

# matlab saves
*.asv